page-vehicle-details {
  
    #map {
        height: 40%;
        width: 100%;
      }

    ion-col div {
        border: 1px solid #ddd;
        border-radius: 2px;
        text-align: center;
    }

   ion-list {
        border: 1px solid #ddd;
        border-radius: 2px;
    }

//Vehicle Status Colours
    .driving {
        font-weight:700;
        color: #356e35;
    }

    .stopped {
        font-weight:700;
        color: #4c4f53; 
    }
    
    .idling {
        font-weight:700;
        color: #6e3671;
    }

    .tow_away {
        font-weight:700;
        color: #c7254e;
    }

}
